*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: white;
}

.container{
    display:flex;
    flex-direction:column;
    justify-content:center ;
    align-items: center;
    text-align: center;
    margin:40px 20px 0px 20px;

}

.container .heading{
    width:50%;
    padding-bottom: 50px;
}
.container .heading h3{
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 20px;
    border-bottom: 3px solid #222;
    font-variant: small-caps;
    color: black;

}

.container .heading h3 span{
    font-weight: 100;
}

.container .box{
    display:flex;
    flex-direction: row;
    justify-content: space-between;    
}

.container .box .nature{
    display:inline;
    flex-direction: column;
    width:32.5%;
}

.container .box .nature img{
    width:100%;
    height: auto;
    border-radius: 15px;
    padding-bottom: 5px;
    
}

.container .box .nature img:hover{
    transform:scale(1.2) ;
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(68,77,136,0.2);
}

.container .box .full-img{
    width:100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    position: fixed;
    top:0;
    left:0;
    display:none;
    align-items:center;
    justify-content: center;
    z-index: 100;
}
.container .box .full-img img{
    width:90%;
    max-width: 500px;
}


.full-img span{
    position: absolute;
    top:5%;
    right: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
    background-color: #222;
}
.container .btn{
    margin:40px 0 70px 0;
    background-color: #222;
    padding: 15px 40px ;
    border-radius: 5px;
}

.container .btn a{
    color:white;
    font-size:1.2em;
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 3px;
    background-color: #222;
}

@media only screen and (max-width:769px){
    .container .box{
        flex-direction: column;
    }

    .container .box .nature{
        width:100%;
    }

}

@media only screen and (max-width:643px){
    .container .heading{
        width:100%;
    }
    .container .heading h3{
        font-size: 1em;
        
    }    
}
